.tab {
    ul {
        padding: 0 20px;
        list-style: none;
    }
    &__item {
        padding: 8px 0;
        &.active {
            border-bottom: 2px solid $c-primary;
        }
    }
    &__button {
        .active & {
            color: $c-primary;
        }
        margin: 0;
        padding: 12px 40px;
        background-color: $c-white;
        color: $c-primary-light;
        cursor: pointer;
        font-weight: 400;
    }
    &__title {
        color: $c-primary;
    }
    &-content {
        padding: 20px 8px;
        @media (min-width: 768px) {
            padding: 30px 20px 30px 20px;
        }
        @media (min-width: 1200px) {
            padding: 38px 21px 29px 21px;
        }
        &__article {
            display: none;
            opacity: 0;
            transition: opacity 0.25s linear;
            &.active {
                display: block;
            }
            &.show {
                opacity: 1;
            }
        }
    }
    &__start {
        margin-left: 12px;
        img {
            margin-right: 5px;
        }
    }
}
