// Add your sass variables here
// For examples, colors, font related, media queries breakpoints, z-index...

// Colors
$c-primary: #003970;
$c-primary-light: #4ba7ee;
$c-primary-dark: #001841;
$c-grey: #4e5156;
$c-black: #000000;
$c-red: #db171d;
$c-orange: #ffab48;
$c-yellow: #ffef63;
// ...

// Font
$f-base: 16;
// ...
