// Add your sass variables here
// For examples, colors, font related, media queries breakpoints, z-index...

// Colors
$c-primary: #003970;
$c-primary-light: #4ba7ee;
$c-primary-dark: #001841;
$c-grey: #4e5156;
$c-grey-light: #e5e5e5;
$c-blue-light: #105aa3;
$c-blue-2: #326c96;
$c-blue-3: #c9e3f9;
$c-grey-2: #9da2a9;
$c-grey-3: #f9f9fb;
$c-grey-4: #dee1e8;
$c-green: #6dc138;
$c-black: #000000;
$c-white: #ffffff;
$c-red: #db171d;
$c-orange: #ffab48;
$c-yellow: #ffef63;
// ...

// Font
$f-base: 16;
// ...
